.join-wrapper {
  min-height: 100vh;
}
.join-wrapper section {
  padding: 0 1.5rem;
}

.join-wrapper .marking {
  color: red;
  font-weight: bold;
  margin-left: 0.3rem;
}

.join-wrapper p {
  color: #005792;
}

.join-form input {
  flex-grow: 1;
  height: 3.4rem;
  font-size: 1.2rem;
  padding-left: 1rem;
  border-radius: 0.3rem;
  border: 1px solid #005792;
}

.join-wrapper input:focus {
  /* outline: 2px solid #d50000; */
  outline: none;
}

.join-wrapper ::placeholder {
  color: #5e9fc3;
  opacity: 1; /* Firefox */
}

.join-wrapper button {
  width: 8.5rem;
  height: 3.4rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}

.join-wrapper label {
  display: flex;
  margin: 0.3rem 0 2.2rem;
}

.join-box-item {
  position: relative;
}

/* 잘못 입력할시 경고문 */
.join-box-item .warn {
  position: absolute;
  color: red;
  bottom: -1.5rem;
}

.join-wrapper .chk-btn {
  color: #fff;
  background-color: #005792;
}

/* 전화번호 */
.join-wrapper .phonenum,
.join-wrapper .address {
  display: block;
}

.join-wrapper .veri-btn,
.join-wrapper .veri-chk-btn {
  color: #a1a1a1;
  border: 1px solid #005792;
}

.join-wrapper .phonenum-wrap {
  margin-bottom: 0.3rem;
}
.join-wrapper .phonenum-wrap,
.join-wrapper .phonenum-veri {
  display: flex;
  width: 100%;
}

/* 주소 */
.join-wrapper .address input {
  width: 100%;
}

.join-wrapper #address {
  margin-bottom: 0.3rem;
}

/* 생년월일 */
.join-wrapper .birth,
.join-wrapper .gender {
  display: flex;
  gap: 0.4rem;
}
.join-wrapper .birth input {
  width: calc(100% / 3);
}

.join-wrapper .birth input::placeholder {
  margin-left: 1rem;
  text-align: center;
}

/* 성별 */
.join-wrapper .gender input {
  width: calc((100% - 20px) / 3);
  border: 1px solid red;
}

.join-wrapper .gender input[type="radio"] {
  display: none;
}

.join-wrapper .gender .inputbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
  height: 3.4rem;
  border-radius: 0.3rem;
  border: 1px solid #005792;
  cursor: pointer;
}

.join-wrapper .gender .inputbox p {
  font-size: 1.2rem;
  color: #005792;
}

.join-wrapper .gap {
  width: 100%;
  height: 1rem;
  margin-bottom: 1.5rem;
  background-color: #eeeeee;
}
/* 회원가입 폼 끝, 이용약관 동의 시작 */

.terms-form label {
  margin: 0.5rem 0;
}

.terms-form span {
  font-size: 1rem;
}

.terms-form input[type="checkbox"] {
  display: none;
}

.terms-form input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.5rem;
  border: 1px solid #999999;
}

.terms-form input[type="checkbox"]:checked + label::after {
  position: absolute;
  content: "✔";
  font-size: 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  color: #999999;
  text-align: center;
  left: -0.1rem;
  top: -0.4rem;
}

.total-agree {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 1rem;
}

.terms-form label {
  display: flex;
  align-items: center;
}

.total-agree-item .agree-text {
  font-size: 12;
  font-weight: bolder;
  color: #005792;
}

.agree-item .agree-text {
  font-size: 1rem;
  color: #005792;
}

.text-primary {
  font-size: 1rem;
  margin-left: 0.3rem;
  color: #5e9fc3;
}

/* submit 버튼 */
#join-btn {
  width: 100%;
  margin: 1rem 0;
  color: #fff;
  background-color: #005792;
}
