

/* 카테고리 상단 */
.kategorie-header {
  font-size: large;
  color: white;
  background-color: #005792;
  border-bottom-left-radius: 10px; /* 왼쪽 하단 둥근 테두리 반지름을 조정하세요 */
  border-bottom-right-radius: 10px; /* 오른쪽 하단 둥근 테두리 반지름을 조정하세요 */
}