/* 전체 페이지 스타일 */
.search-wrap {
  padding: 10px;
}

/* 헤더 */
.search-header {
  position: relative;
  display: flex;
  align-items: center;
}

.search-back {
  margin: auto 10px;
  font-size: large;
  font-weight: 700;
}

.search-icon {
  position: absolute;
  left: 50px;
}

/* 검색 입력 필드 스타일 */
.search-wrap input[type="text"] {
  width: 390px;
  height: 35px;
  padding: 10px;
  padding-left: 34px;
  margin: 10px 0;
  font-size: 12px;
  border: 1px solid #005792;
  border-radius: 5px;
  color: #5e9fc3;
}
.search-wrap input[type="text"]::placeholder {
  color: #5e9fc3;
}


/* 최근 검색어, 추천 검색어, 급상승 검색어 컨테이너 스타일 */
.search-box {
  padding: 5px;
}
.search-box h2 {
  margin-top: 40px;
  font-weight: 700;
}

/* 최근 검색어 */
.search-new {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-new span {
  margin-top: 40px;
  font-weight: 700;
  text-decoration: underline;
  color: #5e9fc3;
}
.search-new-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.search-new-item li {
  margin-left: 10px;
  padding: 5px 8px;
  color: #005792;
  border: 1px solid #5e9fc3;
  border-radius: 20px;
  background-color: #fff;
}
.search-new-item li:first-child {
  margin-left: 0;
}

/* 추천 검색어 */
.search-goat {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.search-goat li {
  margin-left: 1rem;
  padding: 5px 8px;
  font-weight: bolder;
  color: #5e9fc3;
  border-radius: 20px;
  background-color: #d0ecff;
}
.search-goat li:first-child {
  margin-left: 0;
}

/* 급상승 검색어 */
.search-up {
  display: flex;
  align-items: center;
}
.search-up-icon {
  margin-top: 40px;
}
.search-up-item li {
  margin-top: 2rem;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddddddbd;
  color: black;
}
.numbered-item {
  font-weight: 700;
  color: #005792;
}


/* 검색 결과 */
.search-wrap input[type="text"].active {
  width: 380px;
}

.search-close {
  position: absolute;
  top: 28px;
  right: 60px;
}

.search-cart-count {
  position: absolute;
  top: 26px;
  right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  text-align: center;
  font-size: 5px;
  color: #fff;
  background-color: #005792;
  z-index: 1;
}
.search-cart {
  position: absolute;
  top: 26px;
  right: 10px;
}